{{- $migrations := fromYaml (include "app.migrations" .) }}
{{- $old := (and (lookup "v1" "ConfigMap" .Release.Namespace "app-version") 
                 (lookup "v1" "ConfigMap" .Release.Namespace "app-version").data.version) | default "0.0.0" }}
{{- $new := .Chart.AppVersion }}

{{- range $index, $job := $migrations.jobs }}
{{- if (and (semverCompare (printf "<%s" $job.targetVersion) $old)
            (semverCompare (printf ">=%s" $job.targetVersion) $new)) }}
{{- range $db := $job.dbs }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: migration-{{ $job.name | replace "." "-" | replace "migration" "" }}-{{ $db.db }}
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-weight": "{{ $index }}"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: {{ $.Values.migrations.image }}
          imagePullPolicy: {{ $.Values.global.imagePullPolicy }}
          args:
            - "host={{ $.Values.postgres.hostname }} user={{ $.Values.postgres.username }} password={{ $.Values.postgres.password }} dbname={{ $db.db }} port={{ $.Values.postgres.port }} sslmode=disable"
            - "up-to"
            - "{{ $db.migration_id }}"
      restartPolicy: OnFailure
{{- end }}
{{- end }}
{{- end }}
